#include <winver.h>
#include "version.h"

VS_VERSION_INFO         VERSIONINFO
  FILEVERSION           SOXCONVOLVER_VERSION_RC
  PRODUCTVERSION        SOXCONVOLVER_VERSION_RC
  FILEFLAGSMASK         VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
  FILEFLAGS             1
#else
  FILEFLAGS             0
#endif
  FILEOS                VOS__WINDOWS32
  FILETYPE              VFT_DLL
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    //language ID = U.S. English, char set = Windows, Multilingual
    BEGIN
      VALUE "FileDescription",  "SoX convolver library.\0"
      VALUE "FileVersion",      SOXCONVOLVER_VERSION_STRING
      VALUE "InternalName",     "libsoxconvolver.dll\0"
      VALUE "LegalCopyright",   "(C) 2008 Rob Sykes, (C) 2013 nu774\0"
      VALUE "OriginalFilename", "libsoxconvolver.dll\0"
      VALUE "ProductName",      "libsoxconvolver\0"
      VALUE "ProductVersion",   SOXCONVOLVER_VERSION_STRING
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1252
  END
END
